<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <!-- News Feed section starting point -->
      <section id="basic-form-layouts">
        <div class="row" matchHeight="card">
          <div class="col-md-5">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title" align="center" id="basic-layout-tooltip">BUSCAR USUARIO</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="issueinput5">Gestion</label>
                  <select id="issueinput5" class="form-control" ngbTooltip="Priority" placement="top"
                    formControlName="priority">
                    <option *ngFor="let prio of priority" [value]="prio">{{prio}}</option>
                  </select>
                </div>
                <form formGroup="issueTracking">
                  <div class="form-body">
                    <div class="form-group position-relative has-icon-left">
                      <input type="text" id="issueinput1" class="form-control" placeholder="Nombres"
                        ngbTooltip="Issue Title" placement="top" formControlName="Nombres">
                      <div class="form-control-position">
                        <i class="feather ft-user"></i>
                      </div>
                    </div>
                    <div class="form-group position-relative has-icon-left">
                      <input type="text" id="issueinput2" class="form-control" placeholder="Cédula de identidad"
                        ngbTooltip="Opened By" placement="top" formControlName="Cédula de identidad">
                      <div class="form-control-position">
                        <i class="feather ft-file-text"></i>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions">
                    <button type="submit" class="btn btn-block">

                      <i class="feather ft-search"></i> Buscar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="card" >

              <div class="table-responsive card-body">
                <h4 class="card-title"  id="basic-layout-tooltip">Resultados</h4>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Firstname</th>
                      <th scope="col">Lastname</th>
                      <th scope="col">Username</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr routerLink="/news-feed/estado-contable" *ngFor="let country of countries; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ country.firstname }} </td>
                      <td>{{ country.lastname }}</td>
                      <td>{{ country.username }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- // News Feed section ending point -->
    </div>
  </div>
</div>